/* GENERAL =========================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: black;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

ion-icon {
  font-size: 25px;
}

/* NAVBAR =========================== */
.navbar {
  position: absolute;
  width: 100vw;
  padding: 0 30px;
  z-index: 2;

  display: flex;
  align-items: center;
}

.logo {
  margin: auto;
  font-family: "sansserifexbflf-italic";
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.profile img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

/* CONTENT=========================== */

.row {
  margin: 0px;
  height: fit-content;
  position: relative;
  width: 100vw;
  background-color: black; /* <----- idky i cant see this if everything is within content */
}

.content {
  margin: 0px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.split {
  animation: fadeIn 0.5s ease-in-out forwards;
  top: 0;
  max-height: 90vh;
  transition: 1s all cubic-bezier(0.87, 0.76, 0.33, 0.98);
  overflow: hidden;
  background-color: black;
  /* Background color goes here for image container */
}

.split.left {
  left: 0;
  width: 50%;
}

.split.right {
  right: 0;
  width: 50%;
}

.content:hover .split {
  filter: blur(4px);
  transform: scale(1);
  box-shadow: none;
}

.content:hover .split:hover {
  transform: scale(1.02);
  filter: blur(0px);
  opacity: 1;
  z-index: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.Left .Right {
  height: 100%;
  object-fit: cover;
}

.Left {
  object-position: right center;
  width: 100%;
}

.Right {
  object-position: left center;
  width: 100%;
}

.text {
  width: 50vw;
  position: absolute;
  top: 25%;
  transition: all 1s cubic-bezier(0.87, 0.76, 0.33, 0.98);
}

.text .subtitle {
  font-size: 0.8vw;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}

.text .title {
  font-size: 4vw;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "sansserifexbflf-italic";
  line-height: 1;
  letter-spacing: 5px;
  margin-top: 10px;
}

.text .desc {
  font-size: 0.7vw;
  color: #fff;
  font-weight: 300;
  line-height: 2;
  width: 28em;
  margin: auto;
  margin-bottom: 20px;
}

.text .button {
  font-size: 1vw;
  color: #fff;
  background: transparent;
  border: #fff solid 1px;
  padding: 10px 23px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
}

#hamburger-6.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2) {
  width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}
