.row {
  background-color: black;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.fab {
  font-size: 5rem;
  margin: 20px 20px 20px 20px;
  color: lightslategray;
}

#github:hover {
  color: #ffffff;
}

#linkedin:hover {
  color: #0372b1;
}

#youtube:hover {
  color: #ff0000;
}

#instagram:hover {
  color: white;
}

#facebook:hover {
  color: #1a76f2;
}

#twitter:hover {
  color: #1fa2f1;
}
