.row {
  background-color: black;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.fab {
  font-size: 5rem;
  margin: 20px 20px 20px 20px;
  color: lightslategray;
}

.fab:hover {
  color: green;
}
